.inline {
  display: inline;
  background-color: white;
  margin-right: 5px;
  padding-left: 5px
}
.SingleSelectBox{
  border-right-style: solid;
  border-left-style: solid;
  border-width: 3px;
  width: 75%;
  padding-bottom: 5px;
}
.complete{
  background-color: turquoise;
}
.progressStatus{
  border-style: solid;
  border-width: 1px;
}